img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 290px;
    position: relative;top: 46px; left: -10px;
}
h3 .smkn1 {
    position: relative;top: 46px; left: -10px;
}